body {
  background-color: black;
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}